@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	font-size:14px;
	color:#333;
}
#gsslides .slides_container{
	background:#EBE9EA;
	width:730px;
	height:385px;
	margin:auto;
	position:relative;
	float:left;
}
#gsslides .slides_container img{
	margin-left:20px;
	margin-top:20px;
	width:690px;
	height:345px;
}
#slides_outer{
	width:965px;
	height:438px;
	position:absolute;
}
#gsslides{
	width:965px;
	height:438px;
	margin:0 auto;		
	margin-top:40px;
}
#gsslides .prev-under,#gsslides .next-under{
	display:block;
	width:54px;
	height:50px;
	ursor:pointer;
}
#gsslides .prev,#gsslides .next{
	cursor:pointer;
}
#gsslides .prev-under{
	position:relative;
	float:left;
	margin-top:175px;
	margin-right:62px;
	background:url(../images/left.jpg) no-repeat center center;
}
#gsslides .next-under{
	position:relative;
	float:left;
	margin-top:175px;
	margin-left:63px;
	background:url(../images/right.jpg) no-repeat center center;
}
#content{
	margin:45px auto 48px auto;
	width:875px;
	height:739px;
}
#content-split{
	float:left;
	width:690px;
	height:739px;
	border-right:2px solid #107BA9;
}
#content #content-news,#content #content-know{
	width:640px;
}
#content #content-news .dd,#content #content-know .dd{
	list-style-type:none;
	padding:7px;
	margin-top:7px;	
	border-bottom:2px dashed #999;
}
#content #content-news .dd a,#content #content-know .dd a{
	text-decoration:none;
}
#content #content-news .dd p,#content #content-know .dd p{
	display:inline;
	float:right;
}
#content #content-news #image-more,#content #content-know #image-more{
	margin-top:30px;
	margin-left:570px;
}
#content #content-know{
	margin-top:12px;
}
#content #content-pic{
	width:155px;
	float:right;
}
#content #content-pic .cc{
	list-style-type:none;
	margin-top:36px;
}
#content .cc img{
	width:130px;
	height:126px;
}
#content #content-pic ul{
	width:145px;
}