@charset "utf-8";
	em,strong {
	font-weight:bold;
	font-style:normal
}
.f-ti,.u-helpico,.m-loading .loadico,.m-search .sbtn,.m-gotop .gotop,.m-gotop .comment,.m-cnumber .itemc .scissors,.m-page1 .btn,.m-btn,.m-page2 .page-prev,.m-page2 .page-next,.m-page2 .page-next:hover,.u-ico5,.m-plist .imgwrap .ico,.u-logo,.u-ico,.u-ico6,.u-ico7,.u-ico8,.u-abtn3,.u-abtn4,.u-abtn5 {
	text-indent:-20000px;
	overflow:hidden
}
.u-abtn,.u-abtn .leftbg,.u-abtn .serveico,.u-ico2,.u-ico6,.u-ico7,.u-ico8 {
	background:url(../img/sprite-ico.png) no-repeat -9999px -9999px
}
.u-ico {
	display:block;
	width:10px;
	height:10px;
	overflow:hidden;
	background-position:-20px -100px
}
.u-ico-1 {
	background-position:-140px -20px
}
.u-ico-2 {
	background-position:-140px -30px
}
.u-ico-3,.u-ico-4,.u-ico-5 {
	width:51px;
	height:50px
}
.u-ico-3 {
	background-position:0 -160px
}
.u-ico-4 {
	background-position:-60px -160px
}
.u-ico-5 {
	background-position:-120px -160px
}
.u-ico-6 {
	background-position:-140px -10px
}
.u-ico-7 {
	background-position:-150px 0
}
.u-ico-8 {
	background-position:-20px -110px
}
.u-ico6 {
	display:block;
	width:32px;
	height:16px;
	margin-top:3px;
	background-position:0 -240px
}
.u-ico6:hover {
	background-position:-40px -240px
}
.u-ico7 {
	float:left;
	display:block;
	width:16px;
	height:16px;
	margin-right:4px
}
.u-ico7-0 {
	background-position:0 -200px
}
.u-ico7-1 {
	background-position:-20px -200px
}
.u-ico7-2 {
	background-position:-40px -200px
}
.u-ico8 {
	float:left;
	display:block;
	width:12px;
	height:12px;
	margin-right:2px
}
.u-ico8-0 {
	background-position:0 -220px
}
.u-ico8-1 {
	background-position:-20px -220px
}
.u-ico8-2 {
	background-position:-40px -220px
}
.u-ico2 {
	display:block;
	width:23px;
	height:40px;
	background-position:0 -150px
}
.u-ico3 {
	display:inline-block;
	width:27px;
	height:19px;
	position:absolute;
	top:-3px;
	left:69px
}
.u-ico3-lp {
	top:65px;
	left:380px
}
.u-ico3-zs {
	top:65px;
	left:648px
}
.u-ico4 {
	display:block;
	width:15px;
	height:15px
}
.u-abtn {
	display:inline-block;
	height:24px;
	padding-right:6px;
	background-position:right -30px
}
.u-abtn .leftbg {
	position:relative;
	display:inline-block;
	height:21px;
	line-height:21px;
	padding:2px 0 1px 27px;
	padding:3px 0 0 27px\0;
	cursor:pointer;
	font-size:12px;
	color:#c50e0e;
	background-position:0 0
}
.u-abtn:hover {
	text-decoration:none
}
.u-abtn .serveico {
	position:absolute;
	top:1px;
	left:1px;
	width:22px;
	height:22px
}
.u-abtn .serveico-1 {
	background-position:0 -120px
}
.u-abtn .serveico-2 {
	background-position:-30px -120px
}
.u-abtn .serveico-3 {
	background-position:-60px -120px
}
.u-abtn .serveico-4 {
	background-position:-90px -120px
}
.u-abtn .serveico-5 {
	background-position:-120px -120px
}
.u-abtn .serveico-6 {
	background-position:-150px -120px
}
.u-service {
	color:#999
}
.u-service:hover {
	color:#6fc5ed
}
.u-abtn3,.u-abtn4,.u-abtn5 {
	width:232px;
	height:52px;
	cursor:pointer
}
.u-abtn3 {
	display:block;
	background-position:0 -358px
}
.u-abtn4 {
	background-position:0 -741px
}
.u-abtn5 {
	background-position:0 -813px
}
.u-abtn5-1 {
	margin-top:20px
}
.u-abtn5-2 {
	margin:0
}
.u-btype,.u-btype-1,.u-btype-2,.u-btype-3,.u-btype-4,.u-btype-5,.u-btype-6,.u-btype-7,.u-btype-8,.u-btype-9 {
	width:300px;
	height:20px
}
.u-btype-1 {
	background-position:-12px -10px
}
.u-btype-2 {
	background-position:-12px -40px
}
.u-btype-3 {
	background-position:-12px -70px
}
.u-btype-4 {
	background-position:-12px -100px
}
.u-btype-5 {
	background-position:-12px -130px
}
.u-btype-6 {
	background-position:-12px -160px
}
.u-btype-7 {
	background-position:-12px -190px
}
.u-btype-8 {
	background-position:-12px -220px
}
.u-btype-9 {
	background-position:-12px -250px
}
.u-bg {
	filter:alpha(opacity=20);
	opacity:.2;
	background:#fff;
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	cursor:pointer
}
.u-bg-1 {
	width:300px;
	height:320px
}
.u-bg-2 {
	width:197px;
	height:135px
}
.u-btn,.u-btn .leftbg {
	display:inline-block;
	height:27px
}
.u-btn {
	padding-right:20px;
	line-height:0;
	background-position:right -30px
}
.u-btn .leftbg {
	padding-left:20px;
	line-height:27px;
	padding-top:1px\9;
	font-size:14px;
	cursor:pointer;
	background-position:0 0;
	color:#333
}
.u-btn:hover {
	text-decoration:none
}
.u-btn-1,.u-btn-1 .leftbg {
	height:24px
}
.u-btn-1 {
	padding-right:10px;
	background-position:right -150px
}
.u-btn-1 .leftbg {
	padding-left:10px;
	line-height:24px;
	font-size:12px;
	background-position:0 -120px
}
.headerCon,.mallNav-con,#sn-bd {
	width:960px
}
#sn-bd {
	width:1190px
}
.f_l {
	float:left
}
.f_r {
	float:right
}
.gs_box {
	width:1190px;
	margin:0 auto
}
.handle {
	background:0;
	border:0
}
.goods_info_R .handle {
	padding:10px 20px 10px 10px
}
.message {
	padding:0
}
.solid {
	background:#fff;
	border:2px solid #df0001;
	color:#666;
	background:url("../img/g_icon.png") no-repeat right bottom;
	margin-right:8px
}
.dotted {
	background:#fff;
	border:2px solid #ccc;
	color:#666;
	margin-right:8px
}
.ald-skuRight {
	left:50%;
	margin-left:450px;
	position:absolute;
	top:250px
}
.ald-inner {
	width:140px
}
.ald-inner .ald-hd {
	height:28px;
	line-height:28px;
	padding-left:14px;
	position:relative
}
.ald-inner .ald-hd s {
	background:none repeat scroll 0 0 #e9e9e9;
	height:1px;
	left:0;
	overflow:hidden;
	position:absolute;
	top:14px;
	width:140px
}
.ald-inner .ald-hd span {
	background:none repeat scroll 0 0 white;
	color:#999;
	left:40px;
	position:absolute;
	text-align:center;
	top:0;
	width:60px
}
.ald-inner .ald-carousel {
	height:510px;
	position:relative
}
.ald-carousel .wrapCon {
	height:510px;
	overflow:hidden;
	position:relative
}
.ald-inner .ald-carousel .ald-content {
	overflow:hidden;
	width:140px;
	position:absolute
}
.ald-inner .ald-carousel .ald-content .item {
	float:left;
	height:170px;
	position:relative
}
.ald-content .item p.look_price {
	color:#b20000;
	font-family:Arial;
	line-height:25px;
	text-align:center
}
.ald-content .item img {
	display:block
}
#ald-right-con .item img {
	width:140px;
	height:140px
}
#hot_sale_goods .item img {
	width:250px;
	height:250px
}
.ald-carousel .ald-switchable-trigger {
	bottom:-28px;
	left:26px;
	position:absolute
}
.ald-inner .ald-switchable-trigger li.ald-switchable-prev-btn,.ald-inner .ald-switchable-trigger li.ald-switchable-next-btn {
	background:url("../img/gl_btn.png") no-repeat 0 0;
	cursor:pointer;
	height:27px;
	width:27px
}
.ald-inner .ald-switchable-trigger li {
	float:left;
	text-indent:-999em
}
.ald-inner .ald-switchable-trigger li.ald-switchable-prev-btn {
	background-position:0 0
}
.ald-inner .ald-switchable-trigger li.ald-switchable-next-btn {
	background-position:0 -30px;
	margin-left:16px
}
.ald-inner .ald-switchable-trigger li.ald-switchable-prev-btn:hover {
	background-position:0 -61px
}
.ald-inner .ald-switchable-trigger li.ald-switchable-next-btn:hover {
	background-position:0 -93px
}
#content .g-doc {
	clear:both
}
div .gs_desc_left {
	width:250px;
	float:left
}
div .gs_dl_nav {
	background:#f8f8f8;
	border:1px solid #e5e5e5;
	border-radius:1px 1px 1px 1px;
	position:relative;
	width:188px
}
div .gs_dl_nav .gs_btn1 {
	display:block;
	margin:20px 0 5px 20px;
	width:148px;
	height:30px;
	background:url(../img/gs_btn1.png) no-repeat 0 0;
	text-indent:-9999px
}
div .gs_dl_nav p {
	display:block;
	width:188px;
	height:30px;
	line-height:30px;
	text-align:center
}
div .gs_dl_nav p a {
	color:#2853b4
}
div .gs_dl_service {
	border:1px solid #000;
	background:url(../img/gs_service.png) no-repeat center 0;
	width:168px;
	padding:35px 10px 0 10px
}
div .gs_dl_service p {
	display:block;
	width:168px;
	height:30px
}
div .gs_dl_look {
	position:relative
}
div .gs_dl_look .ald-skuRight {
	top:0;
	left:0;
	margin:0
}
div .gs_dl_look .ald-inner,.gs_dl_look .ald-inner .ald-hd s {
	width:250px
}
div .gs_dl_look .ald-inner .ald-hd span {
	left:95px
}
div .gs_dl_look .ald-inner .ald-carousel,.gs_dl_look .ald-carousel .wrapCon,.gs_dl_look .ald-inner .ald-carousel .ald-content .item {
	overflow:visible;
	height:auto
}
div .gs_dl_look .ald-inner .ald-carousel .ald-content {
	overflow:visible;
	height:auto;
	width:250px
}
div .gs_dl_look .ald-inner .ald-carousel .ald-content p.look_price {
	text-align:left;
	width:160px;
	margin:0 auto
}
div .gs_dl_look .item p {
	padding:0;
	text-align:center;
	display:block;
	height:30px;
	line-height:20px
}
div .gs_dl_look .ald-skuRight,.gs_dl_look .ald-inner .ald-carousel .ald-content {
	position:relative
}
div .goods_info_R .handle {
	padding-left:10px
}
div .goods_info_R ul {
	overflow:hidden
}
div .gs_choose li {
	float:left;
	width:auto;
	padding:3px 8px;
	cursor:pointer
}
div .goods_info_R ul.gs_choose {
	padding-left:0;
	padding-bottom:6px
}
div .goods_info_R ul.gs_choose li.handle_title {
	padding-left:0;
	padding-right:0;
	width:60px
}
div .goods_info_R .chk_ul .handle ul {
	padding-left:0
}
div .goods_info_R .chk_ul .handle li span {
	display:inline-block
}
.goods_desc_tab {
	width:910px;
	float:right
}
.goods_desc_title ul,.g_desc_d {
	width:910px!important
}
.g_desc_d .service_ul li {
	width:360px!important
}
#content2 {
	width:1190px;
	margin:15px auto 0
}
#content2 #right {
	width:960px
}
#content2 .major .list {
	margin:15px 0
}
#content2 .user_menu {
	width:940px
}
#content2 .g_desc_d {
	width:960px!important
}
.meal_lt {
	position:relative;
	background:url(../img/meal_detail.png) no-repeat 0 0;
	height:66px;
	line-height:28px;
	padding:10px 0 10px 100px!important;
	width:360px!important
}
.meal_lt em {
	position:absolute;
	display:block;
	width:80px;
	height:60px;
	line-height:20px;
	font-size:14px;
	font-weight:600;
	text-align:center;
	color:#fff;
	top:15px;
	left:5px
}
.meal_title {
	height:30px;
	line-height:30px;
	color:#444
}
.meal_list {
	position:relative;
	width:1000px
}
.meal_box {
	position:relative;
	width:460px;
	height:360px;
	float:left;
	border:1px solid #fee2a1;
	background:#fffdef;
	margin:0 38px 20px 0;
	overflow:hidden
}
.meal_box:hover {
	border:1px solid #fcbb29;
	background:#fff3d9
}
.meal_bg {
	padding:10px 10px 15px 10px
}
.meal_info .m_img {
	border:1px solid #d9d9d9;
	width:80px;
	height:80px;
	float:left;
	margin:0 10px 0 0
}
.meal_info .m_name {
	padding:2px 0
}
.meal_info .m_name a {
	color:#36c;
	text-decoration:none
}
.meal_info .m_name a:hover {
	color:#f60;
	text-decoration:underline
}
.meal_info .m_price {
	display:block;
	height:20px;
	line-height:20px;
	padding:0 0 0 20px;
	font-size:14px;
	color:#ff2900
}
.meal_desc li {
	float:left;
	display:block;
	width:435px
}
.meal_desc li .g_tab {
	color:#816957;
	float:left;
	display:block;
	width:70px;
	line-height:30px;
	text-align:right
}
.meal_desc li p {
	display:block;
	float:right;
	width:350px
}
.meal_desc li .g_slt {
	padding:5px 0
}
.meal_desc li .g_slt a {
	position:relative;
	display:block;
	float:left;
	background-color:#fff;
	line-height:20px;
	margin:0 4px 4px 0;
	padding:1px;
	vertical-align:middle;
	text-decoration:none
}
.meal_desc li .g_slt a span {
	display:block;
	background-color:#fff;
	border:1px solid #e2e1e3;
	color:#000;
	display:block;
	line-height:20px;
	min-width:10px;
	padding:0 6px;
	text-align:center;
	white-space:nowrap;
	width:auto!important;
	cursor:pointer;
	position:relative;
	z-index:2
}
.meal_desc li .g_slt a b {
	display:none;
	position:absolute;
	bottom:0;
	right:0;
	width:12px;
	height:12px;
	z-index:11;
	background:url(../img/g_icon.png) no-repeat 0 0
}
.meal_desc li .g_slt a.ons {
	line-height:20px;
	margin:0 4px 4px 0;
	padding:1px;
	position:relative;
	vertical-align:middle
}
.meal_desc li .g_slt a.ons span,.meal_desc li .g_slt a:hover span {
	display:block;
	border:2px solid #df0001;
	box-shadow:1px 1px 3px 0 rgba(0,0,0,0.6);
	margin:-1px
}
.meal_desc li .g_slt a.ons b {
	display:block!important
}
.meal_desc li #g_color span {
	padding:0
}
.meal_desc li #g_color img {
	width:32px;
	height:32px
}
.meal_link {
	display:none;
	position:absolute;
	right:10px;
	bottom:5px
}
.meal_box:hover .meal_link {
	display:block
}
.meal_link a {
	color:#36c;
	text-decoration:none;
	margin:0 0 0 10px
}
.meal_link a:hover {
	color:#f60;
	text-decoration:underline
}
.meal_link .addCart {
	background:url(../img/meal_detail.png) no-repeat 0 -153px;
	padding:0 0 0 18px
}
.meal_btn {
	border-top:1px solid #dcdcdc;
	padding:10px 0 0 0
}
.m_tao {
	display:block;
	margin:0 auto;
	width:140px
}
.m_tao .txt_numInput {
	width:60px;
	height:20px;
	line-height:20px;
	border:1px solid #a7a7a7
}
.meal_btn .g_btn_box {
	display:block;
	width:140px;
	float:none;
	margin:0 auto
}
.tuan_ul {
	width:1020px;
	position:relative;
	margin:10px 0 0 0
}
.tuan_ul li {
	width:320px;
	float:left;
	margin:0 7px 0 6px;
	_margin:0 3px 0 5px
}
.tuan_ul .item {
	background:#fff;
	border:1px solid #d4d4d4;
	box-shadow:1px 2px 2px rgba(222,222,222,0.6);
	float:left;
	margin-bottom:12px;
	padding:10px;
	position:relative;
	width:300px
}
.tuan_ul .item .cover {
	height:300px;
	overflow:hidden;
	position:relative;
	width:300px
}
.tuan_ul .item .cover img {
	width:300px;
	height:300px
}
.tuan_ul .item h3 {
	height:66px;
	line-height:22px;
	margin:2px 0;
	overflow:hidden;
	width:300px;
	text-align:left
}
.tuan_ul .item h3 a {
	outline:0;
	text-decoration:none
}
.tuan_ul .item h3 .xtitle {
	color:#000;
	display:block;
	font-size:18px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap
}
.tuan_ul .item h3 .short-title {
	color:#666;
	display:block;
	font-size:16px;
	font-weight:normal;
	line-height:22px
}
.tuan_ul .item h3 .xtitle,.tuan_ul .item h3 .short-title {
	-webkit-transition:color .2s;
	-moz-transition:color .2s;
	transition:color .2s
}
.tuan_ul .item h3 a:hover,.tuan_ul .item h3 a:hover .xtitle,.tuan_ul .item h3 a:hover .short-title {
	color:#399;
	text-decoration:none
}
.tuan_ul .item p {
	display:block;
	margin:0;
	padding:0;
	width:100%;
	text-align:left
}
.tuan_ul .item .buy {
	background:url(../img/sp-deal.png) no-repeat 0 0;
	float:right;
	height:33px;
	overflow:hidden;
	text-indent:-999px;
	width:83px
}
.tuan_ul .item .buy:hover {
	background-position:0 -35px
}
.tuan_ul .item .price {
	color:#ee5238;
	font-size:26px;
	line-height:32px;
	margin-right:6px
}
.tuan_ul .item .bypast {
	color:#949494;
	font-size:12px;
	vertical-align:2px
}
.tuan_ul .item .total {
	color:#949494;
	font-size:12px;
	line-height:18px;
	margin-right:5px;
	overflow:hidden;
	text-align:right
}
.tuan_ul .item .total strong {
	color:#ee5238;
	font-size:14px;
	margin-right:2px
}
.clear {
	clear:both
}
.blank {
	clear:both;
	height:8px;
	overflow:hidden
}
.e_list {
	width:1190px;
	margin:0 auto
}
.e_list_top {
	border:2px solid #d1ccc7
}
.e_list_search {
	width:1180px
}
.e_list_search .e_list_search_tab1 {
	font-size:12px
}
.e_list_search .e_list_search_tab1 th {
	font-weight:300;
	background:#f7f5f5;
	width:120px;
	padding:5px 10px;
	line-height:26px
}
.e_list_search .e_list_search_tab1 td {
	background:#fff;
	padding:5px 10px;
	line-height:26px
}
.e_list_search .e_list_search_tab1 td ul li {
	color:#bfbfbf;
	float:left;
	padding:0 5px
}
.e_list_search .e_list_search_tab1 td ul li a {
	color:#806f66;
	white-space:nowrap
}
.e_list_search .e_list_search_tab1 td ul li a:hover {
	color:#c10001
}
.e_list_filter {
	background:#faf9f9;
	padding:5px;
	height:24px
}
.e_list_f_1 {
	float:left;
	position:relative
}
.e_list_f_1 .module_filter_line {
	background:0;
	border:0;
	padding:0;
	line-height:24px;
	position:relative;
	z-index:1;
	overflow:visible;
	width:auto
}
.e_list_f_1 .module_filter_line a {
	color:#806f66
}
.e_list_f_1 .module_filter_line a:hover {
	color:#c10001
}
.e_list_f_1 .module_filter_line .module_filter_nav {
	line-height:24px;
	position:relative;
	z-index:1
}
.e_list_f_1 .module_filter_line .module_filter_nav li {
	float:left;
	line-height:24px;
	padding:0 5px
}
.e_list_f_1 .module_filter_line .module_filter_nav li .txt {
	float:left
}
.e_list_f_1 .module_filter_line .module_filter_nav li .ico {
	float:left;
	padding:5px 0 0 4px
}
.e_list_f_1 .module_filter_line .contain_list {
	background:#fff;
	border:1px solid #ccc;
	height:80px;
	line-height:20px;
	overflow:auto;
	padding:5px 10px;
	position:absolute;
	width:1160px;
	z-index:11;
	left:0;
	top:25px
}
.table_title .list_ico {
	width:24px;
	height:24px;
	background:url(../img/e_l_d2.png) no-repeat center center
}
.table_title .list_ico:hover {
	width:24px;
	height:24px;
	background:url(../img/e_l_d1.png) no-repeat center center
}
.table_title .squares_ico {
	width:24px;
	height:24px;
	background:url(../img/e_l_t2.png) no-repeat center center
}
.table_title .squares_ico:hover {
	width:24px;
	height:24px;
	background:url(../img/e_l_t1.png) no-repeat center center
}
.attrExtra-border {
	background:#efebea;
	border:1px solid #ebe4de;
	border-top:0;
	display:block;
	height:4px;
	overflow:hidden
}
.squares .list_pic {
	width:950px;
	margin:0 auto;
}
.squares .list_pic h3 a:hover {
	color:red;
	text-decoration:underline
}
.squares .list_pic h3 span {
	display:block;
	padding:5px 0;
	text-align:center;
	color:#fe5504
}
.squares .list_pic h3 b a {
	color:#646464
}
.squares .list_pic li {
	height:360px;
	width:230px;
	padding:0;
	float:left;
	margin-right:5px
}
.squares .list_pic li .product_box {
	padding:5px;
	width:220px
}
.squares .list_pic li .product_box:hover {
	position:relative;
	left:-7px;
	top:-7px;
	padding:8px;
	border:4px solid #eae5e1
}
.squares .list_pic li .product_box p {
	display:block;
	width:220px;
	height:220px
}
.squares .list_pic li .product_box p a {
	display:block;
	height:100%
}
.squares .list_pic li .product_box p img {
	width:220px;
	height:220px
}
.squares .list_pic h3 {
	position:relative;
	display:block;
	width:220px;
	height:110px;
	line-height:20px;
	word-break:break-all;
	word-wrap:break-word;
	margin:0 auto
}
.squares .list_pic h3 .text_link {
	position:absolute;
	top:25px;
	width:220px;
	display:block;
	margin:0;
	padding:0;
	height:40px;
	text-align:center;
	overflow:hidden;
	line-height:18px
}
.squares .list_pic h3 .text_link .depict {
	text-align:left;
	height:40px;
	line-height:20px;
	margin:0;
	padding:0;
	overflow:hidden
}
.squares .list_pic h3 .text_link .info {
	text-align:left;
	height:20px;
	line-height:20px;
	margin:0;
	padding:0;
	font-size:12px
}
.squares .list_pic h3 .text_link .info span {
	text-align:left;
	padding:0;
	font-weight:300;
	color:#666;
	text-decoration:underline
}
.squares .list_pic h3 .price {
	position:absolute;
	top:0;
	left:0;
	width:220px;
	height:25px;
	line-height:25px;
	text-align:left;
	color:#c00;
	padding:0
}
.squares .list_pic h3 b {
	position:absolute;
	bottom:25px;
	height:25px;
	line-height:25px;
	color:#a7a7a7;
	display:block;
	text-align:center;
	font-size:12px;
	font-weight:normal
}
.squares .list_pic h3 strong {
	position:absolute;
	bottom:0;
	height:25px;
	line-height:25px;
	color:#a7a7a7;
	display:block;
	text-align:center;
	font-size:12px;
	font-weight:normal
}
.squares .list_pic h3 strong a {
	color:#646464
}
.squares .list_pic p {
	width:160px;
	height:160px;
	margin:0 auto;
	background:#eee
}
.squares .list_pic p img {
	width:160px;
	height:160px
}
.squares .list_pic h3 .text_link a {
	font-size:12px;
	font-family:"宋体";
	font-weight:normal;
	text-decoration:none;
	color:#646464
}
.squares .list_pic h3 .add_cart {
	cursor:pointer;
	display:block;
	position:absolute;
	right:3px;
	background:url(../pic/add_cart_img.jpg);
	width:33px;
	height:17px;
	bottom:4px;
	text-indent:-999em
}
.chaoshi-cart {
	position:absolute;
	display:block;
	z-index:101;
	background:url(../img/store-cart.png) no-repeat center;
	bottom:0;
	right:5px;
	width:40px;
	height:40px
}
.list .list_pic {
	width:100%
}
.list .list_pic li {
	width:100%;
	float:left
}
.list .list_pic h3 .text_link {
	width:800px;
	height:55px
}
.list .list_pic h3 .text_link .depict {
	width:800px
}
.message_text2 {
	width:100%;
	padding:15px 0;
	line-height:20px;
	overflow:hidden;
	border-bottom:1px dotted #a99578
}
.message_text2 dl {
	width:100%;
	position:relative;
	margin-bottom:10px;
	overflow:hidden
}
.message_text2 .light {
	padding-left:25px
}
.fill_in {
	width:755px;
	padding:10px 0 10px 25px
}
.fill_in p {
	margin-bottom:10px
}
.fill_in textarea {
	width:560px;
	height:100px;
	overflow:auto;
	border:1px solid #c2c2c2;
	background:#fff url(../pic/text.gif) repeat-x;
	padding:4px;
	font-family:Arial,Helvetica,sans-serif;
	color:#666
}
.fill_in .text {
	border:1px solid #c2c2c2;
	background:#fff url(../pic/text.gif) repeat-x;
	padding:4px;
	font-family:Arial,Helvetica,sans-serif;
	color:#666
}
.fill_in .desc {
	float:left
}
.g_serPromise {
	margin-top:15px
}
.g_serPromise dd ul {
	margin-top:0
}
.g_serPromise dt {
	height:auto
}
