@charset "utf-8";
/* CSS Document */
*{
	margin:0px;
	padding:0px;
	font-size::14px;
}
#header_logo{
	margin-left:20%;
	margin-top:18px;
	margin-bottom:15px;
}
#header_logo p{
	display:inline-block;
	width:100px;
	position:absolute;
	top:58px;
	left:1140px;
}
#header_logo #header_search{
	position:absolute;
	top:50px;
	left:60%;
	width:25%;
	height:36px;
	border-radius:7px;
	border:1px solid #A0A0A0;	
}
#header_logo .search{
    Height:20px;
    BACKGROUND-COLOR: #ffffff;
    COLOR: #999;
    PADDING-LEFT: 5px;
    PADDING-RIGHT: 0px;
    border-style:solid;
    FONT-FAMILY: 宋体,Sans-serif;
    FONT-SIZE: 9pt;
	border:0px;
	width:255px;
	height:36px;
	border-radius:7px;
	float:left
}
#header_logo .button{
	background:url(../images/search.jpg) no-repeat center center;
	width:30px;
	height:36px;
	border:0px;
	border-radius:7px;
	float:left;
	CURSOR:pointer;
}
#header_logo p a{
	text-decoration:none;
	color:#0476AA;	
}
#header_banner{
	background:#37A2D8;
	height:42px;	
	width:100%;
}
#header_banner ul{	
	display:block;
	width:985px;
	margin:auto;
	margin:0 auto;
}
#header_banner ul li{
	display:block;
	width:159px;
	list-style-type:none;
	text-align:center;
	line-height:42px;
	float:left;
	margin-left:3px;
}
#header_banner ul a{
	display:block;
	height:42px;
	width:159px;
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
	font-size:16px;
}
#footer_banner{
	background:#02719F;
	height:42px;	
	width:100%;
}
#footer_banner ul{	
	width:750px;
	margin:auto;
}
#footer_banner ul li{
	display:block;
	width:100px;
	list-style-type:none;
	text-align:center;
	line-height:42px;
	float:left;
	margin-left:60px;
}
#footer_banner ul a{
	display:block;
	height:42px;
	width:125px;
	text-decoration:none;
	color:#FFF;
	font-weight:bold;
	font-size:14px;
}
#footer_content{
	background:#107BA9;
	height:265px;
	width:100%;	
}
#footer_content .dd{
	width:468px;
	margin:auto;
}